.text-Evoc{
  color: #bb0100;
}
.text-Trans{
  color: #ccbe00;
}
.text-Necro{
  color: #bd0044;
}
.text-Illu{
  color: #006dbd;
}
.text-Ench{
  color: #b30083;
}
.text-Divin{
  color: #00adb3;
}
.text-Conj{
  color: #bd0044;
}
.text-Abj{
  color: #00b921;
}